/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

body {
  background-color: #EEEEF7;
}

/* made a class for containers to display in rows */
  .row {
    display: flex;
  }

/* make navbar single row and remove bullets */
  nav ul {
    display: inline-flex;
    list-style: none;
  }

/* adds padding to navbar list items */
  nav ul li {
    padding: 5px;
  }

/* adds padding to header and makes content move to the outsides */
  header {
    justify-content: space-between;
    padding: 20px 0px;
    color: #92CCCE;
    background-color: #31343D;
  }

  header h1 {
    background-color: #92CCCE;
    color: #31343D;
  }

  header a {
    color: #92CCCE;
  }