/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* setting variables for colors */
:root {
  --white: #EEEEF7;
  --green: #92CCCE;
  --grey: #31343D;
  --blue: #445877;
}

/* made a class for containers to be flexboxes and display in a column */
.column {
    display: flex;
    flex-direction:column;
}
/* made a class for containers to be flexboxes and display in a row */
.row {
  display:flex;
  flex-direction: row;
}

header .column {
  flex-direction: row;
}

/* links dont change color */
a:visited {
  text-decoration: none;
}

/* set background color and minimum width*/
body {
  background-color: var(--white);
  min-width: 320px;
}

/* sets header and navbar colors and centers the navbar list */
header {
  color: var(--green);
  background-color: var(--grey);
  align-items: center;
}

/* centers the top banner text and fills the width*/
header div {
  background-color: var(--green);
  width: 100%;
  justify-content: center;
}

/* set font color for main banner */
header h1 {
  color: var(--grey);
}

/* set font color of the links in the navbar */
header a {
  color: var(--green);
}

/* make navbar single row and remove bullets */
nav ul {
  display: inline-flex;
  list-style: none;
}

/* adds padding to navbar list items */
nav ul li {
  padding: 10px;
}

/* makes underlines in top and bottom links thicker */
header li a {
  text-decoration: none;
  border-bottom: 3px solid var(--green);
}
footer li a {
  text-decoration: none;
  border-bottom: 3px solid var(--blue);
  color: var(--blue);
}

/* this adds the background image. makes the cool subtitle on the bottom and centered*/
#coolSub {
  height: 200px;
  width: 100%;
  background-image: url("/assets/images/coolSub.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
}

/* sets the background/font color, padding and bottom margin of the subtitle */
#coolSub h2 {
  background-color: var(--green);
  color: var(--grey);
  margin-bottom: 1%;
  padding: 5px;
}

section h1 {
  border-bottom: 3px solid var(--blue);
  padding-bottom: 3px;
}

/* sets the main body and footer to fill 90% of the body and the widths and margins */
main, footer {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

/* removes bullets from contact me list */
footer section ul {
  list-style: none;
}

/* sets font color and adds margin between the sections */
main section, main h1, main hr, footer h1, footer hr {
  margin-bottom: 10px;
  color: var(--blue)
}

/* these are the boxes with text inside */
.box {
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  color: var(--grey);
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 20px;
}

/* gives the boxes border and margin and makes them slightly smaller than the rest of the sections and adds background images*/
.work {
  border: 3px solid var(--green);
  margin: 5px 0px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* adds padding to the contact me list */
footer section ul li {
  padding: 5px;
}

/* these are the background pictures in the boxes */
#surf {
  background-image: url("/assets/images/sunset.jpg");
}
#ledWall {
  background-image: url("/assets/images/ledwall.jpeg");
}
#calculator {
  background-image: url("/assets/images/coding.jpg");
}
#pastel {
  background-image: url("/assets/images/pastel.jpg");
}
#runbuddy {
  background-image: url("/assets/images/runbuddy.jpg");
}

/* change for big screens */
@media screen and (min-width: 768px) {

  /* makes the banner and navbar inline */
  header.column {
    flex-direction: row;
    justify-content: space-between;
  }
  /* resets the banner width and moves it away from the left side a bit */
  header .column {
    width: initial;
    padding-left: 30px;
    padding-right: 10px;
    margin: 10px 0px;
  }

  /* moves the subtitle from the center to bottom right and moves it away from the right side */
  #coolSub {
    align-items: flex-end;
  }
  #coolSub h2 {
    margin-right: 5%;
  }

  /* moves the headings inline with a the content with a vertical line separation */
  main section, footer section {
    display: flex;
  }
  section h1 {
    border-bottom: unset;
    border-right: 3px solid var(--blue);
    margin-right: 25px;
    padding-right: 10px;
  }

  /* makes the work sections display  */
  .my-box .column {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .work {
    margin: 5px;
    flex-grow: 1;
  }

  #surf {
    flex-basis: 100%;
  }

  .work {
    flex-basis: 50%;
  }
  
  /* makes contact list inline */
  footer ul {
    display: inline-flex;
  }

  footer section {
    justify-content: space-between;
  }
  
  footer li {
    margin: 0px 10px;
  }
}